@import '../variables.scss';

.button {
  padding: 15px 35px;
  color: $mainColor;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: var(--fontSizeMedium);
  &.default {
    outline: 1px solid #474a51;
  }
  &.gray {
    outline: 1px solid #474a51;
  }
  &.blue {
    background: $buttonColor;
    color: $mainColor;
  }
  &.cartActive {
    color: $white;
    background: #838e9c;
  }
  &:hover {
    &.default {
      background: $buttonColor !important;
      color: $mainColor !important;
    }
    &.gray {
      background: $mainColor !important;
      outline: 1px solid #ffffff;
      color: $white !important;
    }
  }
  @media (max-width: $mobileWidth) {
    padding: 10px 20px;
  }
  transition: all 0.15s ease-in-out;
}
