@import '../variables.scss';

.catalogItemPage {
  .path {
    color: $mainColor;
    font-size: var(--fontSizeMedium);
    margin: 30px 0;
    .delimiter {
      margin: 0 3px;
    }
    .big {
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
  .mayLikeIt {
    margin-top: 160px;
    margin-bottom: 80px;
    & > p {
      text-align: center;
      margin-bottom: 80px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $mainColor;
      font-size: var(--fontSizeBig);
    }
    .mayLikeItItems {
      display: flex;
      justify-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
