@import '../variables.scss';

.favouritesPage {
  margin-top: 30px;
  .path {
    color: $mainColor;
    font-size: var(--fontSizeMedium);
    .delimiter {
      margin: 0 3px;
    }
    .big {
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
  .favouriteTitle {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: var(--fontSizeBig);
    font-weight: normal;
    margin-top: 50px;
  }
  .favouritesItems {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .favoruitesEmpty {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin-bottom: 30px;
      color: $gray;
      font-size: var(--fontSizeMedium);
    }
  }
}
