@import '../variables.scss';

.loginPage {
  padding-top: 80px !important;
  display: flex;
  margin-bottom: 80px;
  .registration {
    margin-right: 248px;
    .error {
      margin: 10px 0 23px 0;
    }
  }
  .login {
    .recovery {
      margin-top: 10px;
      font-size: var(--fontSizeMedium);
      color: $gray;
    }
    .error {
      margin: 0 0 23px 0;
    }
  }
  .registration,
  .login {
    .header {
      margin-bottom: 30px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $mainColor;
      font-size: var(--fontSizeBig);
    }
    form {
      display: flex;
      flex-direction: column;
      & > button {
        align-self: flex-start;
      }
      & > div {
        margin-bottom: 30px;
      }
      .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        input {
          margin-right: 16px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
    .error {
      color: red;
      font-size: var(--fontSizeMedium);
      max-width: 300px;
      text-align: center;
    }
  }
}
