@import '../variables.scss';

.loginPage {
  padding-top: 80px !important;
  display: flex;
  margin-bottom: 80px;
  .registration {
    margin-right: 248px;
  }
  .registration,
  .login {
    .header {
      margin-bottom: 30px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $mainColor;
      font-size: var(--fontSizeBig);
    }
    form {
      & > div {
        margin-bottom: 30px;
      }
      .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        input {
          margin-right: 16px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
    .error {
      margin: 23px 0;
      color: red;
      font-size: var(--fontSizeMedium);
      max-width: 300px;
      text-align: center;
    }
  }
}
