@import '../variables.scss';

.seachResult {
  margin-bottom: 50px;
  .resultItems {
    & > p {
      font-size: var(--fontSizeBig);
      margin: 80px 0;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: uppercase;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .itemsEmpty {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    p {
      font-size: var(--fontSizeBig);
      margin-bottom: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
