@import './variables.scss';

.cart {
  &.active {
    right: 0;
  }
  transition: right 0.4s linear;
  right: -497px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;

  width: 497px;
  padding: 115px 40px 40px 30px;
  background-color: $white;
  .emptyCart {
    text-align: center;
    color: $mainColor;
    font-size: 25px;
    margin: 50px 0;
  }
  .cartItems {
    padding: 15px 20px 30px 0;
    border-top: 1px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    margin: 30px 0 15px 0;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #eeeeee;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9f9d9d;
      border-radius: 10px;
    }
  }
  .cartTotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: $fontSizeMedium;
    @media (max-width: $laptopWidth) {
      font-size: $fontSizeMedium-laptop;
    }
    span {
      color: $mainColor;
    }
  }
  .cartTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      color: $mainColor;
      font-size: $fontSizeLittle;
      @media (max-width: $laptopWidth) {
        font-size: $fontSizeLittle-laptop;
      }
      letter-spacing: 0.02em;
      line-height: 130%;
      text-transform: uppercase;
    }
    .close {
      font-size: $fontSizeSmall;
      @media (max-width: $laptopWidth) {
        font-size: $fontSizeSmall-laptop;
      }
      line-height: 130%;
      color: #9f9d9d;
      font-size: 12px;
    }
  }
  .cartLink {
    padding: 7px 35px;
    color: $mainColor;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    outline: 1px solid #474a51;
    text-align: center;
    font-size: $fontSizeMedium;
    @media (max-width: $laptopWidth) {
      font-size: $fontSizeMedium-laptop;
    }
    &:hover {
      background: $buttonColor;
      outline: 0;
    }
    transition: all 0.15s ease-in-out;
  }
}
