@import './variables.scss';

.favourites {
  &.active {
    right: 0;
  }
  position: fixed;
  right: -497px;
  top: 0;
  bottom: 0;
  z-index: 998;

  display: flex;
  flex-direction: column;

  width: 497px;
  padding: 115px 40px 40px 30px;
  background-color: $white;
  transition: right 0.4s linear;
  .emptyFavourites {
    text-align: center;
    color: $mainColor;
    font-size: 25px;
    margin: 50px 0;
  }
  .favouritesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 0 16px 0;
    overflow-y: auto;
    overflow-x: hidden;
    justify-items: center;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #eeeeee;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray;
      border-radius: 10px;
    }
  }
  .favouritesTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      color: $mainColor;
      font-size: var(--fontSizeLittle);
      letter-spacing: 0.02em;
      line-height: 130%;
      text-transform: uppercase;
    }
    .close {
      font-size: var(--fontSizeSmall);
      line-height: 130%;
      color: $gray;
    }
  }
  .favouritesLink {
    padding: 7px 35px;
    color: $mainColor;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    outline: 1px solid #474a51;
    text-align: center;
    font-size: var(--fontSizeMedium);
    &:hover {
      background: $buttonColor;
      outline: 0;
    }
    transition: all 0.15s ease-in-out;
  }
}
