@import url('https://fonts.cdnfonts.com/css/futura-pt');

:root {
  --fontSizeLg: 68px;
  --fontSizeBig: 31px;
  --fontSizeMedium: 21px;
  --fontSizeLittle: 18px;
  --fontSizeSmall: 16px;
}

@media (max-width: 1440px) {
  :root {
    --fontSizeLg: 52px;
    --fontSizeBig: 24px;
    --fontSizeMedium: 16px;
    --fontSizeLittle: 14px;
    --fontSizeSmall: 12px;
  }
}

@media (max-width: 1024px) {
  :root {
    --fontSizeLg: 46px;
    --fontSizeBig: 22px;
  }
}

@media (max-width: 768px) {
  :root {
    --fontSizeLg: 42px;
    --fontSizeBig: 20px;
    --fontSizeMedium: 13px;
    --fontSizeLittle: 11px;
    --fontSizeSmall: 9px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Futura PT', sans-serif;
}
body {
  background-color: #ffffff;
}

button {
  border: 0;
  cursor: pointer;
  background: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

main {
  position: relative;
  overflow-x: hidden;
  /* TODO: DELETE IT */
  min-height: calc(100vh - 60px);
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 calc(50% - 680px);
  }
}
