@import './variables.scss';

.header {
  border-bottom: 1px solid #eeeeee;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  nav {
    display: flex;
    ul {
      list-style-type: none;
      display: flex;
      column-gap: 25px;
      li {
        a {
          font-size: 18px;
          @media (max-width: $laptopWidth) {
            font-size: 14px;
          }
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }
    }
  }
  .secondNav {
    display: flex;
    column-gap: 30px;
    .headerSearch {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .searchInput {
        border: 0;
        padding-bottom: 2.5px;
        outline: 0;
        border-bottom: 1px solid $gray;
        width: 0;
        margin-right: 10px;
        transition: width 0.4s;
        color: $gray;
        &::placeholder {
          color: $gray;
        }
        &.active {
          width: 200px;
        }
      }
    }
    .cartQuantity {
      margin-left: 3px;
      font-size: 14px;
      color: $mainColor;
    }
  }
}
