$paragraphFontSize: 14px;
$mainColor: #474a51;
$black: #000000;
$white: #ffffff;
$secondaryColor: #838e9c;
$buttonColor: #dde8f6;
$footer: #eeeeee;
$laptopWidth: 1400px;
$fontSizeLg: 68px;
$fontSizeLg-laptop: 52px;
$fontSizeBig: 31px;
$fontSizeBig-laptop: 24px;
$fontSizeMedium: 21px;
$fontSizeMedium-laptop: 16px;
$fontSizeLittle: 18px;
$fontSizeLittle-laptop: 14px;
$fontSizeSmall: 16px;
$fontSizeSmall-laptop: 12px;
