$mainColor: #474a51;
$black: #000000;
$white: #ffffff;
$gray: #9f9d9d;
$accentColor: #285da1;
$secondaryColor: #838e9c;
$buttonColor: #dde8f6;
$footer: #eeeeee;
$laptopWidth: 1440px;
$tabletWidth: 1024px;
$mobileWidth: 768px;
