$paragraphFontSize: 14px;
$mainColor: #474a51;
$black: #000000;
$white: #ffffff;
$secondaryColor: #838e9c;
$buttonColor: #dde8f6;
$footer: #eeeeee;
$laptopWidth: 1440px;
$tabletWidth: 1024px;
$mobileWidth: 768px;
